{% extends 'base.html.twig' %}

{% block title %}Dofus index{% endblock %}

{% block body %}
    <h1>Dofus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>QuestOrder</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dofu in dofuses %}
            <tr>
                <td>{{ dofu.id }}</td>
                <td>{{ dofu.name }}</td>
                <td>{{ dofu.image }}</td>
                <td>{{ dofu.description }}</td>
                <td>{{ dofu.questOrder }}</td>
                <td>
                    <a href="{{ path('app_dofus_show', {'id': dofu.id}) }}">show</a>
                    <a href="{{ path('app_dofus_edit', {'id': dofu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dofus_new') }}">Create new</a>
{% endblock %}
