{% extends 'base.html.twig' %}

{% block title %}Quest{% endblock %}

{% block body %}
    <h1>Quest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quest.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ quest.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ quest.description }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ quest.level }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_quest_index') }}">back to list</a>

    <a href="{{ path('app_quest_edit', {'id': quest.id}) }}">edit</a>

    {{ include('quest/_delete_form.html.twig') }}
{% endblock %}
